@import 'tailwindcss';

:root {
  color-scheme: light;
  --primary-accent: #1ca6a4;
  --font-main: 'Avenir Next', sans-serif;
}

html,
body,
#app {
  min-height: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
